.form {}

.form__different-inputs-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.form__buttons-wrapper {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.form__button {
  width: 160px;
  height: 46px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $background-color-main;
  border: none;
  border-radius: 4px;
  background-color: $color-base-primary;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-base-primary-lighter;
    outline: none;
  }

  &:active {
    background-color: $color-active;
  }

  &:disabled {
    background-color: $color-placeholder;
  }
}

.form__button--reset {
  background-color: $background-color-main;
  color: $color-base-primary;

  &:hover,
  &:focus,
  &:active,
  &:disabled {
    color: $background-color-main;
  }

  &:disabled {
    background-color: $color-disabled;
  }
}
