.inputs-group {}

.inputs-group__header {
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.inputs-group__price-inputs {}

.inputs-group__range-inputs {
  position: relative;
  height: 24px;
  z-index: 1;
}

.inputs-group__range-inputs-background-line {
  height: 2px;
  width: 100%;
  background-color: $color-disabled;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: -1;
}


.inputs-group__ranges {
  display: flex;
}

.inputs-group__range {
  width: 24px;
  height: 24px;
  border: 2px solid $color-base-primary-lighter;
  border-radius: 50%;
  background-color: $background-color-main;
  flex-shrink: 0;
  cursor: pointer;

  &--left {
    margin-left: 0;
  }

  &--right {
    margin-right: 20px;
  }
}

.inputs-group__between-ranges {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputs-group__between-ranges-line {
  height: 4px;
  width: 100%;
  background-color: $color-base-primary-lighter;
}

.inputs-group__number-inputs {
  display: flex;
  margin-top: 25px;
}

.inputs-group__number-input-label {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  min-width: 118px;
}

.inputs-group__number-input {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 118px;
  height: 38px;
  border: 2px solid $color-base-primary-lighter;
  border-radius: 4px;
  background-color: $background-color-main;
  padding-left: 10px;
  padding-right: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  appearance: textfield;

  &::placeholder {
    color: $color-placeholder;
  }
}

.inputs-group__between-number-inputs {
  width: 44px;
  flex-shrink: 0;
}
