.main-footer {}

.main-footer__first-line>.container-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer__first-line {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (max-width: ($tablet-width - 1)) {
    border-bottom: $color-hover-sort-item solid 1px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.main-footer__logo-link {}

.main-header__logo-link {}

.main-header__logo {}

.main-header__logo-link-description {}

.main-footer__social-links {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.main-footer__social-item {}

.main-footer__social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer__social-svg {
  fill: $color-placeholder;
}

.visually-hidden {}

.main-footer__about {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include container-main;
  }
}

.main-footer__section-about {
  display: flex;
  flex-direction: column;

  @media (max-width: ($tablet-width - 1)) {
    padding: 20px;
    padding-bottom: 28px;
    border-bottom: $color-hover-sort-item solid 1px;
  }
}

.main-footer__shop {}

.main-footer__about-header {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $color-base-primary;
}

.main-footer__about-link {
  margin-top: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  &--address {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: none;

    padding-left: 18px;
  }
}

.main-footer__media {}

.main-footer__contacts {
  padding-bottom: 20px;
}

.main-footer__phone-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: $color-base-primary
}

.main-footer__created-by {
  padding: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-placeholder;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.main-footer__created-link {
  display: flex;
  align-items: center;
}

.main-footer__academy-logo {
  fill: $color-placeholder;
  margin-left: 4px;
}
