.main-header__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-areas:
    "logo user"
    "menu menu";
}

.main-header__logo-link {
  padding: 12px 20px;
  line-height: 0;
  grid-area: logo;
}

.main-header__logo {
  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    height: 36px;
  }
}

.main-header__navigation {
  grid-area: menu;
  background-color: $main-background-color;

  &--hidden {
    @media (max-width: ($tablet-width - 1)) {
      display: none;
    }
  }

  &--with-js {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.main-header__navigation-list {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.main-header__navigation-item {
  border-top: 1px solid $border-menu;

  &:last-child {
    border-bottom: 1px solid $border-menu;
  }
}

.main-header__navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 58px;
}

.main-header__user-buttons {
  grid-area: user;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.main-header__user-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  min-width: 60px;
  padding: 0;
  border: none;
  background-color: inherit;
}

.main-header__menu-toggler {
  display: block;
  position: relative;

  &--hidden {
    display: none;
  }

  &--closed::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 12px;
    background-image: linear-gradient($main-color, 2px, #ffffff 2px, 5px, $main-color 5px, 7px, #ffffff 7px, 10px, $main-color 10px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--opened {
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: $main-color;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: $main-color;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
