.products {}

.products__custom-select-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__label-select {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;
}
