.promo {
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: $background-color-promo;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($background-color-promo, 640px, #ffffff 640px);
    padding-top: 56px;
    padding-bottom: 0;
  }
}

.promo__slider {
  margin-left: $mobile-indent;
  margin-right: $mobile-indent;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    margin-right: 90px;
  }
}

.promo__list {}

.reset-list {}

.promo__item {}

.promo__item-section {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.promo__text-content {
  margin-top: 6px;
  text-align: center;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-top: 0;
  }
}

.promo__product-header {
  margin: 0;
  margin-top: 4px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
    font-size: 56px;
    line-height: 80px;
  }
}

.promo__product-description {
  margin: 0;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
    font-size: 20px;
    line-height: 32px;
  }
}

.promo__is-new {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-base-primary;
}

.promo__price-and-order {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo__old-price {
  margin-right: 6px;
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: $color-base-primary;
}

.promo__price {
  margin-right: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.promo__order-button {
  padding: 8px 20px;
  min-width: 114px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $background-color-main;
  background-color: $color-base-primary;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.promo__img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
    margin-top: 20px;
  }
}

.promo__slider-button {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 20px;
    background-image: url("../img/icons/slider-button.svg");
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;

    &::before {
      transform: translate(-50%, -50%) scale(-1, 1);
    }
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }
}
