$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$color-main: #333333;
$border-menu: #F0EBFF;
$color-base-primary: #7859CF;

$background-color-main: #ffffff;
$background-color-promo: #F3EBE1;

$mobile-indent: 20px;
$tablet-indent: 20px;
$desktop-indent: 40px;
